.bundle
db/*.sqlite3
log/*.log
tmp
coverage

config/database.yml
config/secrets.yml

vendor/assets/bower

public/system/*
public/uploads/*

.DS_Store

.powrc
.rvmrc

.rbenv-version
.ruby-version

.zorro.yml
