.filter-box
  @media print
    display: none

.report-row:not(:last-of-type)
  margin-bottom: 15px

.report-title
  font-size: 20px
  font-weight: 400
  color: $primary-color
  margin: 0 0 15px 0

.report-label
  font-size: 18px
  font-weight: 500
  display: block

.report-info
  font-size: 14px
  font-weight: 400
  display: block

.out-of-range,
.in-range
  text-align: center

.out-of-range
  background: rgba(241, 196, 15, .2)

.in-range
  background: rgba(64, 212, 126, .2)
