.filter-box
  @media print
    display: none

.report-row:not(:last-of-type)
  margin-bottom: 15px

.report-title
  font-size: 20px
  font-weight: 400
  color: $primary-color
  margin: 0 0 15px 0

.report-label
  font-size: 18px
  font-weight: 500
  display: block

.report-info
  font-size: 14px
  font-weight: 400
  display: block

.point-out-of-range,
.point-in-range
  width: 10px
  height: 10px
  margin-right: 10px
  border-radius: 50%
  display: inline-block

.point-out-of-range
  background: rgba(241, 196, 15, .5)

.point-in-range
  background: rgba(46, 204, 113, .5)
