@import 'globals/base'

.dashboard
  margin-top: $main-margin
  margin-bottom: $main-margin
  
  // 160px = soma da altura do menu, footer e margem do conteudo principal
  min-height: calc(100vh - 160px)
