@import 'globals/base'

.control-label
  display: block
  font-weight: 500

  abbr
    display: none

span.radio
  margin-right: 10px
  display: inline-block

.form-group.date
  label
    display: block

  select
    float: left
    width: 32%

    &:not(:last-child)
      margin-right: 5px
