@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700)
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500)

a
  color: $primary-color
  transition: .3s all ease

  &:hover,
  &:focus
    color: $secondary-color
