# config/application.yml
defaults: &defaults
  app: "Imperium"
  host: "localhost:3000"
  company_url: "https://stark-peak-23998.herokuapp.com"
  smtp:
    from: 'Imperium <noreply@imperium.com.br>'

development:
  <<: *defaults

test:
  <<: *defaults

production:
  host: "stark-peak-23998.herokuapp.com"
  <<: *defaults
