.form.confirmation
  p 
    ' O acesso ao painel é exclusivo para o
    strong' gerente
    ', mas você pode fazer o download do aplicativo e começar a marcar seus pontos de uma forma mais
    strong' fácil
    ' e
    strong' rápida
    ', que tal?
    br
    br
    ' Utilize o link abaixo para fazer o
    strong download
    '  do aplicativo:
    br
    br
    = link_to "Baixar o aplicativo para Android", "imperium.apk"
