<p>Olá <%= @resource.name %>!</p>

<p>Alguém requisitou um link para alterar a senha. Você pode fazer isso através do link abaixo:</p>

<p><%= link_to 'Alterar senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não requisitou uma troca de senha, ignore esse e-mail.</p>
<p>Sua senha não será alterada até acessar o link abaixo e criar uma nova.</p>
