@import 'globals/base'

body
  background-image: image-url('application/application-background.jpg')
  background-repeat: no-repeat
  background-size: cover
  height: 100vh

  @media screen and (min-width: $screen-sm-min)
    &:after
      content: ""
      top: 0
      left: 0
      right: 0
      bottom: 0
      position: absolute
      background: rgba(0,0,0,0.4)

.flash-messages
  margin: 20px 0

.centered-content
  z-index: 3
  width: 300px

  @media screen and (max-width: $screen-xs-max)
    margin: $app-nav-height auto 0 auto

  @media screen and (min-width: $screen-sm-min)
    +centered-content(fixed)

.application-box
  overflow: hidden
  box-shadow: 0 5px 10px rgba(0,0,0,0.2)
