@import 'globals/base'

body
  height: 100vh
  text-align: center
  background: $background
  font-size: $body-font-size
  font-family: 'Montserrat', sans-serif

main
  margin: 30px 0

  .container
    max-width: 800px

.flash-messages
  margin: 20px 0

.page-title,
.page-description
  color: $text-color
  text-align: center

.page-title
  margin: 1rem 0 .5rem 0
  font-size: $page-title-size
  font-weight: $page-title-weight

.page-description
  display: block
  margin: 0 0 10px 0
  font-size: $page-description-size
  font-weight: $page-description-weight
